<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Auth Request</title>
    <link rel="stylesheet" href="static/auth.css">
    <script src="auth.js"></script>
</head>
<body>
    <div id="auth_container">
        <p>Your request has been sent<p>
        <form action="/ret" method="POST">
            <button name="return">Return to Authentication</button>
        </form>
    </div>
</body>
</html>